services:
  backend:
    image: ghcr.io/aqiyoung/nas-monitor-backend:latest
    ports:
      - "8017:8017"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock  # 用于访问 Docker 守护进程
      - ./backend:/app  # 挂载当前目录下的backend到容器内的/app
    environment:
      - TZ=Asia/Shanghai
    restart: unless-stopped
    # 明确禁用健康检查，确保容器能够启动
    healthcheck:
      disable: true

  frontend:
    image: ghcr.io/aqiyoung/nas-monitor-frontend:latest
    ports:
      - "3003:80"
    volumes:
      - ./frontend:/usr/share/nginx/html  # 挂载当前目录下的frontend到容器内的nginx目录
    depends_on:
      - backend
    environment:
      - TZ=Asia/Shanghai
    restart: unless-stopped
